
@media screen and (max-width: 1200px) {
    .nav-bar{
        display: none;
    }
    #menu-link{
        display: inline-block;
    }
}
@media screen and (min-width: 1201px) {
    .nav-bar{
        display: flex;
    }
    #hamburger{
        display: none;
    }
}